/* Герой */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  outline: 1px solid black;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  color: var(--title-text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* outline: 1px solid red; */
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--title-text-white);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
}

/* Секция  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid red; */
}

.section p {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Преимущества + Чем мы занимаемся */

.feature-list .title,
.work-list .title-white {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Преимущества */

.feature-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.box-icon {
  display: flex;
  height: 120px;
  /* outline: 1px solid red; */
  background-color: var(--second-bgc-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
/* Иконки для секции Преимущества */
/* .feature-list > .item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-bgc-color);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astranaut::before {
  background-image: url(../images/astronaut.svg);
} */

/* ------------ */

.section.feature {
  border-bottom: 1px solid var(--header-line);
}

.feature .feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: calc((100% - 90px) / 4);
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  color: var(--title-text-color);
}

/* Чем мы занимаемся */

.our-work .work-list {
  display: flex;
}

.work-list .item {
  width: calc((100%-60px) / 3);
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.section .title-white {
  margin: 0;
  padding: 0;

  color: var(--title-text-white);
}

.work-examples {
  display: block;
  /* убрали радиус border-radius: 4px; */
  overflow: hidden;
}

/* оформляем текст на картинке  Чем мы занимаемся*/

.item-cont {
  position: relative;
}

.item-cont .text-bgc {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.section.colored {
  background-color: var(--second-bgc-color);
}

.team .our-team {
  display: flex;
}

.our-team .team-member {
  background-color: #ffffff;
  width: calc((100% - 90px) / 4);
  /* убрали радиус border-radius: 4px; */
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.our-team .team-member:not(:last-child) {
  margin-right: 30px;
}

.our-team .title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team .people {
  margin-bottom: 16px;
}

.our-team .title,
.our-team .people {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team .title {
  color: var(--title-text-color);
  font-weight: 500;
}

/* Иконки соцсетей Нашей команды */

.our-team .our-team-social {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.our-team .social:not(:last-child) {
  margin-right: 11px;
}

/* Постоянные клиенты */
.clients .clients-list {
  display: flex;
}

.companies {
  display: flex;
}

.clients-list .item {
  width: 175px;
  height: 90px;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--cubic);
}

.clients-list .button-icon {
  fill: var(--icon-border-color);
  transition: fill 250ms var(--cubic);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .item:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.clients-list .item:hover .button-icon {
  fill: var(--accent-color);
}
